*{
    text-align: center;
}
.content{
    background-color: orange;
    width: 50%;
    min-height: 500px;
    margin: auto;
}

h1{
    background-color: beige;
    height: 60px;
}

header {
    height: 150px;
    background-color: blanchedalmond;
}

img {
    width: 500px;
    margin: auto;
}

h2{
    background-color: rgb(246, 255, 0);
}

nav {
    height: 100px;
    background-color: rgb(255, 149, 218);
}

main section:first-child{
    background-color: rgb(255, 169, 149);
    height: 200px;
}

main section:nth-child(2) {
    background-color: rgb(176, 176, 255);
    height: 30px;
}

main section:last-child{
    padding: 30px;
    border: 1px solid rgb(0, 255, 242);
}

footer{
    background-color: blueviolet;
    height: 80px;
}

@media screen and (max-width: 1200px) {
    *{
        text-align: left;
    }
    .content {
      background-color: rgb(85, 70, 251);
      width: 100%;
    }
    header{
        background-color: yellow;
    }
}
@media screen and (max-width: 750px) {
    selection {
        background: url("/img/tumblr_67633f1f08b70e5abe3d48e751f482eb_26264ff2_400.jpg");
        background-position: center;
        background-size: cover;

    }
    
}
@media screen and (max-width: 500px) {
    .content {
        background-color: lightblue;
    }
    main section:last-child {
        font-size: 24px;
    }
    main section:first-child{
        background-color: purple;
    }


}
